<template>
  <footer class="
  text-white bg-black flex flex-col items-center content-center justify-center font-extralight
  ">
    <div class="m-3 flex justify-end space-x-4 text-right">
      <PrismicLink v-for="item in navigation" :field="item.link" :key="item.title"
        class="text-white hover:text-gray-500 p-2 text-xs font-medium">
        {{ item.title }}
      </PrismicLink>
    </div>
  </footer>
</template>

<script>
export default {
  name: "Footer",
  props: {
    navigation: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped>
  ::-moz-selection {
    color: theme('colors.black');
    background: theme('colors.white');
  }
  ::selection {
    color: theme('colors.black');
    background: theme('colors.white');
  }
</style>
