<template>
  <div class="hero flex flex-col items-center justify-center justify-items-center
    bg-cover bg-center text-white
    w-full"
    :class="type">
    <h1 class="text-7xl mb-4">{{ title }}</h1>
    <div v-if="subtitle" class="mt-2">
      <p class="text-3xl">{{ subtitle }}</p>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Hero",
    props: ['title', 'subtitle', 'type']
  }
</script>

<style scoped>

  h1 {
    font-size: calc(4.3vw + 20px);
  }

  p {
    font-size: calc(1.4vw + 20px);
  }

  .hero {
    height: 500px;
    background-color: #888380;
  }

</style>
