<template>
  <section class="lang-switcher divide-x-2 divide-gray-500 font-light text-sm relative">
    <template v-for="item in langNav">
      <span v-if="item.active"
        class="uppercase pl-2 pr-1 font-normal">{{ item.label }}</span>
      <nuxt-link v-if="item.altLang" :to="$prismic.linkResolver(item.altLang)"
        class="uppercase pl-2 pr-1">
        {{ item.altLang.lang }}
      </nuxt-link>
    </template>
  </section>
</template>

<script>
export default {
  props: ["altLangs"],
  name: "lang-switcher",
  data () {
    return {
      locales: this.$i18n.locales
    }
  },
  computed: {
    langNav() {
      return this.locales.map(locale => {
        return {
          label: locale,
          active: locale === this.$i18n.locale,
          altLang: this.altLangs.filter(altLang => altLang.lang === locale).pop()
        }
      })
    }
  }
};
</script>

<style scoped>

</style>
