<template>
  <transition>
    <div v-if="loading" class="loading-page">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "LoadingScreen",
  props: ['loading'],
  data: () => ({
  })
}
</script>

<style scoped>
  .v-enter-active,
  .v-leave-active {
    transition: opacity 1s theme('custom.animation');
  }

  .v-enter-from,
  .v-leave-to {
    opacity: 0;
  }

  .loading-page {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: theme('colors.black');;
    z-index: 998;
  }

  .spinner {
    width: 40px;
    height: 40px;

    position: relative;
    margin: auto;
    top: 50%;
    margin-top: -20px;
  }

  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #595959;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }

  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }

  @keyframes sk-bounce {
    0%, 100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
      }
  }

</style>
