<template>
  <transition>
    <div v-if="show" class="reload-page
    fixed inset-0 bg-white text-black
    text-2xl
    flex items-center content-center justify-center text-center">
      <div>
        Please reload page <br>
        <span class="text-base font-extralight">after window resize</span>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "ReloadScreen",
  props: [],
  data: () => ({
    initWidth: 0,
    show: false
  }),
  mounted() {
    this.initWidth = window.innerWidth;
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize);
    })
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.onResize);
  },

  methods: {
    onResize() {
      if (this.initWidth > 1024) {
        if(window.innerWidth < 1024) {
          this.show = true;
        } else {
          this.show = false;
        }
      } else {
        if (window.innerWidth > 1024) {
          this.show = true;
        } else {
          this.show = false;
        }
      }
    }
  }
}
</script>

<style scoped>
  .v-enter-active,
  .v-leave-active {
    transition: opacity .2s theme('custom.animation');
  }

  .v-enter,
  .v-leave-to {
    opacity: 0;
  }

  .reload-page {
    z-index: 999;
    color: white;
  }

</style>
