<template>
  <div id="app" class="min-h-screen z-20">
    <LoadingScreen :loading="loadingScreen"></LoadingScreen>
    <ReloadScreen/>
    <Appbar v-if="navigation" :navigation="navigation.main"
      id="appbar" class="fixed top-0 left-0 right-0 z-30"/>
    <main class="bg-white relative z-20"
      data-scroll-container>
      <Nuxt/>
      <Footer v-if="navigation" :navigation="navigation.footer"
        data-scroll-section data-scroll/>
    </main>
  </div>
</template>

<script>
  import Appbar from '@/components/Appbar';
  import Footer from '@/components/Footer';
  import locomotive from "@/mixins/locomotive";

  export default {
    name: "default",
    mixins: [locomotive],
    components: { Appbar, Footer },
    data: function () {
      return {
        loadingScreen: true,
        languages: []
      }
    },
    computed: {
      navigation () {
        return this.$store.state.prismic.navigation.data
      }
    },
    head() {
      return {
        script: [{
          hid: 'luxy',
          src: '/locomotive-scroll/locomotive-scroll.min.js',
          defer: true,
          callback: () => {
            this.initLocomotive();
            this.loadingScreen = false;
          }
        }]
      }
    }
  }
</script>

<style>

  ::-moz-selection {
    color: theme('colors.white');
    background: theme('colors.black');
  }
  ::selection {
    color: theme('colors.white');
    background: theme('colors.black');
  }

  main {
    display: grid;
    grid-template-rows: 1fr auto;
  }
  Footer {
    grid-row-start: 2;
    grid-row-end: 3;
  }
</style>
