.page-enter-active,
.page-leave-active {
  transition: opacity 300ms cubic-bezier(0.215, 0.61, 0.355, 1), filter 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.page-enter,
.page-leave-to {
  opacity: 0;
  filter: blur(5px);
}


.show-scroll-child > *,
.show-scroll {
  transform: translateY(5vh) rotateX(-20deg);
  transform-origin: center top;
  transform-style: preserve-3d;
  opacity: 0;
  transition: opacity .8s cubic-bezier(0.215, 0.61, 0.355, 1), transform .8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#app .show-scroll-child.is-inview > *,
#app .show-scroll.is-inview {
  transform: none !important;
  opacity: 1;
}

.show-scroll-side,
.show-scroll-child-side.show-scroll-child > * {
  transform: translateX(-5vw);
}

.prismic-content a {
  text-decoration: underline;
  text-underline-offset: 2px;
}
.prismic-content a:hover {
  text-decoration: none;
}
