<template>
  <div>
    <Hero
      :title="page.data.title"
      :subtitle="page.data.subtitle"
      class="relative" data-scroll-section />
    <div class="min-h-screen relative">
      <section class="prismic-content
        px-6 pt-16 md:py-32 pb-24
        m-auto max-w-6xl"
        data-scroll-section data-scroll>
        <prismic-rich-text :field="page.data.content" />
      </section>
    </div>
  </div>
</template>

<script>
import locomotive from "@/mixins/locomotive";
import seo from "@/mixins/seo";

export default {
  mixins: [locomotive, seo],
  async asyncData ({ $prismic, params, store, i18n, error }) {
    const lang = i18n.locale
    const page = await $prismic.api.getByUID('page', params.uid, { lang })
    await store.dispatch('prismic/load', { lang, page })
    if (page) {
      return { page }
    } else {
      error({statusCode: 404, message: 'Page not found'})
    }
  },
  data () {
    return { }
  },
  mounted() {
    // @ts-ignore: Unreachable code error
    this.initLocomotive();
  }
}
</script>

<style scoped>

</style>
