<template>
<div>
  <Hero
    :title="page.data.title"
    :subtitle="page.data.subtitle"
    class="relative h-screen" data-scroll-section />
  <div class="min-h-screen relative">
    <section data-scroll-section>
      <img src="https://faircloud.eu/nextcloud/index.php/s/bn4w5AJyGRW3W35/preview" alt="thats me"
        class="absolute title-img" data-scroll data-scroll-speed="-1"
      />

      <div class="relative
         pb-28 lg:pb-56 pt-96 md:pt-36 px-6
         md:left-2/4 w-100 md:w-96 w-100
         text-xl md:text-2xl lg:text-3xl
         text-center show-scroll" data-scroll>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      </div>
    </section>

    <section class="
      md:py-16 lg:py-32 px-6
      max-w-2xl lg:max-w-4xl
      m-auto sm:grid sm:grid-cols-2 lg:gap-16" data-scroll data-scroll-section>
      <div class="mb-12 show-scroll-child" data-scroll>
        <h2>Headline</h2>
        <p>
          Contemporary art, functionalism and architecture of the 1920s are all inspirations that feed our thoughts and achievements. Sharing a common passion for visual identities and digital technologies, we strive to provide both relevant and creative solutions to meet the objectives of our clients. And because combining performance and precision best illustrates our daily ambition, our work today enjoys international recognition.
        </p>
      </div>
      <div class="show-scroll-child" data-scroll>
        <h2>Headline</h2>
        <p>
          Contemporary art, functionalism and architecture of the 1920s are all inspirations that feed our thoughts and achievements. Sharing a common passion for visual identities and digital technologies, we strive to provide both relevant and creative solutions to meet the objectives of our clients. And because combining performance and precision best illustrates our daily ambition, our work today enjoys international recognition.
        </p>
      </div>
    </section>

  <section class="prismic-content
      px-6 pt-16 md:py-32 pb-24
      m-auto max-w-6xl" data-scroll data-scroll-section>
    <prismic-rich-text :field="page.data.content" />
  </section>

    <section class="px-6
      pt-16 md:py-32 pb-24
      m-auto max-w-6xl" data-scroll data-scroll-section>
      <h2>Headline</h2>
      <div class="md:grid md:grid-cols-2 gap-8">
        <a v-for="item in list" :href="item.link" class="hover:opacity-60 list-link show-scroll-child block mb-12 md:mb-6" target="_blank"
          data-scroll>
          <h3 class="text-2xl">{{ item.name }}</h3>
          <p>{{ item.desc }}</p>
        </a>
      </div>
    </section>
  </div>
</div>
</template>

<script>
import Vue from 'vue'
import Appbar from "@/components/Appbar.vue";
import locomotive from "@/mixins/locomotive";
import seo from "@/mixins/seo";
import { list } from '@/models/home'

export default Vue.extend({
  components: { Appbar },
  mixins: [locomotive, seo],
  data: function () {
    return {
      list: list
    }
  },
  async asyncData ({ $prismic, store, i18n, error }) {
      const lang = i18n.locale
      const page = await $prismic.api.getSingle('home', { 'lang': lang })
      await store.dispatch('prismic/load', { lang, page })
      if (page) {
        return { page }
      } else {
        error({statusCode: 404, message: 'Page not found'})
      }
  },
  mounted() {
    // @ts-ignore: Unreachable code error
    this.initLocomotive();
  }

})
</script>

<style scoped>

  .list-link {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: 0s;
  }
  .list-link:hover {
    transform: translateX(5px);
  }
  .list-link p {
    transition-delay: .3s;
  }

 </style>
